@import "tailwindcss";

:root {
  --background: #080F17;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080F17;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Plus Jakarta Sans, Arial;
}

h1 {
    font-size: clamp(1rem, 10vw, 4rem);
    font-weight: 700;
}

h2 {
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 700;
    margin: 10px 0;
}

p, a, button {
    font-size: 1rem;
    font-weight: 500;
}

a, button {
    font-weight: 600;
}
